$susy: (
	global-box-sizing: border-box,
	columns: 4,
	column-width: 4em,
	gutters: 1/4
);

$medium-cols: 8;
$large-cols: 12;
$xlarge-cols: 16;

$medium: container($medium-cols);
$large: container($large-cols);
$xlarge: container($xlarge-cols);


@include border-box-sizing;


$breakpoint-no-query-fallbacks: true;