<!doctype html>
<html ng-app="kegsApp">
<head>	
	<meta charset="utf-8">
	<title>Kegs.js</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
</head>
	
<body>
	<div class="container" id="root">
		<div class="header">
			<div class="header__logo">
				<img src="images/custom/logo.png" alt="Mute Dog Logo" height="100">
			</div>
				
			<div class="header__title">
				<img src="images/custom/logo-type.png" alt="Mute Dog Fermenting">
			</div>
		</div>	
		<br />
		<table class="ontap" id="KegsList">
			<thead>
				<tr>
					<td>&nbsp;</td>
					<td class="ontap__titlename">Name</td>
					<td class="ontap__titleinfo">Info</td>
					<td class="ontap__titlekeg">Keg Volume</td>
				</tr>
			</thead>
			<tbody>
			
				<tr v-for="(keg, index) in Kegs" class="beer" :id="('beer'+keg.tap)" :key="index">
					<td class="beer__srm">
						<img :alt="keg.srm" :src="imgSrm(keg.srm)" class="srm__img">
					</td>
					<td class="beer__name">
						<h1>{{keg.name}}</h1>
						<h2>{{keg.style}}</h2>
						<h3>{{keg.brewer}}</h3>
					</td>
					<td class="beer__info">
						<div class="info__row">
							<span class="info__left">{{keg.abv}}%</span>
							<span class="info__right">ABV</span>
						</div>
						<div class="info__row">
							<span class="info__left">{{keg.ibu}}</span> 
							<span class="info__right">IBU</span>
						</div>
					</td>
					<td class="beer__keg">
						<a class="pour" @click="toggleForm(keg)"><img :src="imgKegvol(keg.volume)" class="keg__img"></a>
						<!-- <transition name="fade"> -->
							<div class="pourForm" :class="{'show':keg.showForm}">
								<h3>{{keg.name}}</h3>
								<p>Enter the approximate volume of your pour in ounces:</p>
								<input type="number" name="pourVol" id="pourVol" class="pourVol" v-model="keg.pour">
								<input type="text" name="resultVol" id="resultVol" v-model="keg.volume" class="hidden">
								<input type="button" name="save" id="save" value="Save" @click="save(index, keg.volume - keg.pour)" class="pourSave">
								<div class="pourUnits">Alcohol units in your pour: <span class="pourUnitsAmount">{{Math.round(keg.pour*2.957*keg.abv)/100}}</span></div>
								<a href="#" class="pourClose" @click="toggleForm(keg)">X</a>
							</form>
						<!-- </transition> -->
					</td>
				</tr>

			</tbody>
		</table>
	</div>
	<script src="js/vue.min.js"></script>
	<script src="js/kegs.js"></script>
</body>
</html>
