//----------------------------
// container class
//----------------------------

.u-container {
	overflow:hidden;
	@include breakpoint($medium) {
		@include container($medium-cols);
		padding:0 0.5em;
		overflow:visible;
	}
	@include breakpoint($large, $no-query: '.lt-ie9') {
		@include container($large-cols);
		overflow:visible;
		padding:0 0.5em;
	}
	@include breakpoint($xlarge) {
		//@include container($xlarge-cols);
	}
}