//----------------------------
// container class
//----------------------------

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 29rem;
    padding-left: 1rem;
    padding-right: 1rem;
    @include bp-604 {
        max-width: 37rem;
    }
    @include bp-800 {
        max-width: 49rem;
    }
    @include bp-1024 {
        max-width: 63rem;
    }
    @include bp-1280 {
        max-width: 75rem;
    }
    @include bp-1440 {
        max-width: 85rem;
    }
    &.\-rel {
        position: relative;
    }
    &.\-cf {
        @include cf;
    }
    &.\-nop {
        padding-left: 0;
        padding-right: 0;
    }
}